<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/global.css" />
    <link rel="stylesheet" href="css/mainmenu.css" />
    <title>MainMenu</title>
  </head>

  <body>
    <div id="HeaderImage">
      <img src="/images/TitleImage.png" alt="" />
    </div>

    <div id="MainMenuHeader">
      <h1>Oregon Trail</h1>
      <h1>Main Menu</h1>
    </div>
    <div id="infoOnTrail">

    <div id="Options">
      <p><a href="http://localhost:1337/setup">1. Travel the trail</a></p>
      <p id= "infoOption"> 2. Learn about the trail</p>
      <p><a href="http://localhost:1337/topten">3. See the Oregon top 10</a></p>
      <p>4. Turn Sound (Off/On)</p>
    </div>

    




    <div id="Directions">
      <p>Select an option</p>
    </div>

  </div>
    <script src="js/global.js"></script>
    <script src="js/mainmenu.js"></script>
  </body>
</html>
