<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/global.css" />
    <link rel="stylesheet" href="css/trail.css" />
    <title>Trail</title>
  </head>

  <body>
    <div id="HeaderImage">
      <img src="/images/TitleImage.png" alt="" />
    </div>

    <div id="placeholderImage">
      <img id="imageURL" src="/images/plains3.jpg" alt="" />
    </div>

    <div class="gameElements">
   Days on the Trail: <span id="rDaysOnTrail">0</span><br />
   Miles Traveled: <span id="rMilestraveled">0</span><br />
   Current Weather: <span id="rCurrentWeather">Warm</span><br />
   Current Terrain: <span id="rCurrentTerrain">Plains</span><br />
   Current Pace: <span id="rCurrentPace">Steady</span><br />
   PartyHealth: <span id="rPartyHealth">100</span><br />
   Party Status: <span id="rPartyStatus">Alive</span><br />
   Info: <span id="rMessages">Ready to start your Journey?</span><br />
    </div>
    <div id="setPace">

    </div>
  
    <div id="keyboardDirections">
      <p>
       Press SPACEBAR to change the pace! Press ENTER to go to the next day!
      </p>
    </div>
    <!-- Took out global.js because it has spacebar code that interferes with changePace
    <script src="js/global.js"></script> -->
    <script src="js/trail.js"></script>
  </body>
</html>
