<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="js/global.js"></script>
    <script src="js/trail.js"></script>
    <link rel="stylesheet" href="css/global.css" />
    <link rel="stylesheet" href="css/trail.css" />
    <title>Trail</title>
  </head>

  <body>
    <div id="HeaderImage">
      <img src="/images/TitleImage.png" alt="" />
    </div>

    <div id="placeholderImage">
      <img src="/images/plains3.jpg" alt="" />
    </div>

    <div class="gameElements">

    <div id="Daysontrial">
      <p>Days on the Trail: 0</p>
    </div>

    <div id="Milestraveled">
      <p>Miles Traveled: 0</p>
    </div>

    <div id="Partyhealthstatus">
      <p>Current HP: 100</p>
    </div>

    <div id="CurrentWeather">
      <p>Current Weather: Warm</p>
    </div>

    <div id="CurrentPace">
      <p>Current Pace: Slow</p>
    </div>

    <div id="CurrentTerrain">
      <p>Current Terrain: Plains</p>
    </div>

    <div id="PartyStatus">
      <p># of Party Members: 5</p>
    </div>

    </div>

    <div id="spacebarDirections">
      <p>
        <a href="http://localhost:1337/mainmenu"
          >Press SPACEBAR or click this link to return to the main menu</a
        >
      </p>
    </div>
  </body>
</html>
