
body {
  margin: 0;
  border: 0;
  font-family: fantasy;
  color: black;
  font-size: 30px;
  background-color: black;
}

#HeaderImage img {
  position: relative;
  left: 550px;

}

#SetupHeader h1 {
  position: relative;
  left: 0px;
  opacity: 100;
  margin-top: 25px;
  font-size: 50px;
  text-align: center;
  color: white;
  font-family: fantasy;
}

#Options p {
  position: relative;
  left: 0px;
  top: 50px;
  font-size: 30px;
  background-color: black;
  text-align: center;
}


#setupScreen {
  position: relative;
  color: white;
  left: 720px;
}

#marchItem {
  position: fixed;
  color: green;
  cursor: pointer;
  text-decoration: underline;
  left: 920px;
}

#aprilItem {
  position: fixed;
  color: gold;
  cursor: pointer;
  text-decoration: underline;
  left: 920px;
}

#mayItem {
  position: fixed;
  color: yellow;
  cursor: pointer;
  text-decoration: underline;
  left: 920px;
}

#juneItem {
  position: fixed;
  color: orange;
  cursor: pointer;
  text-decoration: underline;
  left: 920px;
}

#julyItem {
  position: fixed;
  color: orangered;
  cursor: pointer;
  text-decoration: underline;
  left: 920px;
}

#selectedOption2 {
  position: fixed;
  left: 830px;
}

#screen4Info {
  position: fixed;
  left: 460px;
}