body {
  margin: 0;
  border: 0;
  font-family: fantasy;
  color: white;
  font-size: 30px;
  background-color: black;
  text-align: center;

}

#placeholderImage img {
  position: relative;
  top: 0px;
  left: 0px;
  max-width: 45%;
  width: 1200px;  
  height: auto; 
  border: 3px solid red;  

}

.gameElements {
  position: relative;
  top: 0px;
  left: -800px;
  font-size: 20px;
  
}

#spacebarDirections p {
  position: relative;
  top: 0px;
  left: 0px;
  font-size: 25px;

}
